<h1><{$tpl_vars.general->getShow('title')}></h1>
<label><{$tpl_vars.general->getShow('subtitle')}></label>
<{$tpl_vars.general->getShow('info')}>
<form method="post" action="<{$xoops_url}>/modules/bmsurvey/Reception/Recive/<{$tpl_vars.general->getShow('id')}>">
<table class="table">
	<{foreach name=formLoop from=$tpl_vars.form item=form}>
	<tr>
		<td>
			<h3>
				(<{$smarty.foreach.formLoop.iteration}>)<{$form.content}>
			</h3>
			<{foreach from=$form.tag item=tag}>
			<{if $tag.type == 'text'}>
			<input type="text" name="<{$tag.name}>" value="<{$tag.value}>" <{if $tag.length}>maxlength="<{$tag.length}>"<{/if}> />
			<{elseif $tag.type == 'textarea'}>
			<textarea name="<{$tag.name}>"<{if $tag.cols}> wrap="<{$tag.wrap|lower}>"<{/if}><{if $tag.rows}> rows="<{$tag.rows}>"<{/if}>>
			<{$tag.value}>
			</textarea>
			<{elseif $tag.type == 'radio'}>
			<input type="radio" name="<{$tag.name}>" value="<{$tag.value}>"<{if $tag.checked}> checked="checked"<{/if}> />
			<{$tag.message}>
			<{elseif $tag.type == 'checkbox'}>
			<input type="checkbox" name="<{$tag.name}>[]" value="<{$tag.value}>" <{if $tag.checked}> checked="checked"<{/if}> />
			<{$tag.message}>
			<{elseif $tag.type == 'select'}>
			<select name="<{$tag.name}>">
				<option></option>
				<{foreach from=$tag.value item=option}>
				<option value="<{$option.value}>" <{if $option.checked}> selected="selected"<{/if}>><{$option.content}></option>
				<{/foreach}>
			</select>
			<{elseif $tag.type == 'button' && $bmsurvey.config.mode != 'mobile'}>
			<button type="button" class="btn" name="<{$tag.name}>" <{if $tag.onclick}> onclick="<{$tag.onclick}>"<{/if}>>
			<{$tag.value}>
			</button>
			<{/if}>
			<{/foreach}>
		</td>
	</tr>
	<{/foreach}>
</table>
<div align="center">
	<input class="btn btn-primary" type="submit" name="submit" value="<{$smarty.const._SUBMIT}>" />
</div>
</form>