<div class="adminnavi">
  <a href="./index.php"><{$smarty.const._MI_LEGACY_NAME}></a>
  &raquo;&raquo; <span class="adminnaviTitle"><a href="./index.php?action=ModuleList"><{$smarty.const._MI_LEGACY_MENU_MODULELIST}></a></span>
</div>

<h3 class="admintitle"><{$smarty.const._MI_LEGACY_MENU_MODULELIST}></h3>

<div class="tips">
<ul>
<li>
<{$smarty.const._AD_LEGACY_LANG_MOD_TOTAL}>: <{$ModuleTotal}>
<{$smarty.const._AD_LEGACY_LANG_ACTIVE}>: <{$activeModuleTotal}>&nbsp;&nbsp;|&nbsp; <{$smarty.const._AD_LEGACY_LANG_DEACTIVATE}>: <{$inactiveModuleTotal}>
</li>
<li>
<{$smarty.const._AD_LEGACY_TIPS_MOD}>
</li>
<li><a href="<{$xoops_url}>/modules/legacy/admin/index.php?action=Help&amp;dirname=legacy"><{$smarty.const._HELP}></a></li>
</ul>
</div>

<ul class="toptab">
  <li class="addModule"><a href="index.php?action=InstallList"><{$smarty.const._AD_LEGACY_LANG_MODINSTALL}></a></li>
</ul>

<{if $actionForm->hasError()}>
<div class="error">
  <ul>
    <{foreach item=message from=$actionForm->getErrorMessages()}>
      <li><{$message|xoops_escape}></li>
    <{/foreach}>
  </ul>
</div>
<{/if}>

<form method="post" action="">
<{xoops_token form=$actionForm}>

<ul id="myTab" class="nav nav-tabs">
<li class="active"><a href="#app" data-toggle="tab">Application</a></li>
<li><a href="#tool" data-toggle="tab">System Tool</a></li>
</ul>

<div id="myTabContent" class="tab-content">
<div id="app" class="tab-pane fade active in">
<div class="container-fluid">
<{assign var="cnt" value=0}>
<{foreach item=module from=$moduleObjects}>
	<{if $module->getVar('hasmain') && $module->getVar('weight','e') != 0 }>
	<{assign var="cnt" value=$cnt+1}>
	<{if $cnt%4==1}>
		</div><br /><div class="row-fluid">
	<{/if}>
	<div class="thumbnail span3">
		<div class="header">
			<{$smarty.const._AD_LEGACY_LANG_MOD_MID}>:<{$module->getVar('mid')}>
		</div>
	<img style="height:30px;" src="<{$xoops_url}>/modules/<{$module->getVar('dirname')}>/<{$module->modinfo.image}>" alt="<{$module->getVar('name')}>" />
	<p>
		<{$smarty.const._AD_LEGACY_LANG_MOD_NAME}>:
		<input type="text" class="input-medium" name="name[<{$module->getVar('mid')}>]" value="<{$module->getVar('name')}>" />
	</p>
	<p>
	<{$smarty.const._AD_LEGACY_LANG_VERSION}>:
	<{if $module->hasNeedUpdate()}>
		<strong class="legacy_module_versionMsg"><{$module->getRenderedVersion()}></strong>
		<a href="index.php?action=ModuleUpdate&amp;dirname=<{$module->getVar('dirname')}>"><img src="<{"icons/upgrade.png"|theme}>" alt="<{$smarty.const._AD_LEGACY_LANG_UPGRADE}>" title="<{$smarty.const._AD_LEGACY_LANG_UPGRADE}>" /></a>
	<{else}>
		<{$module->getRenderedVersion()}>
	<{/if}>
	<br /><{$smarty.const._AD_LEGACY_LANG_LASTUPDATE}>:<{$module->getVar('last_update')|xoops_formattimestamp:l}>
	<br /><{$smarty.const._AD_LEGACY_LANG_WEIGHT}>:<input type="number" size="4" maxlength="4" name="weight[<{$module->getVar('mid')}>]" value="<{$module->getVar('weight','e')}>" class="input-tiny" />
	<br /><{$smarty.const._AD_LEGACY_LANG_CONTROL}>:
		<{if $module->getVar('isactive') == 1 }>
		<a class="" href="index.php?action=ModuleEdit&amp;mid=<{$module->getVar('mid')}>"><img src="<{"icons/module_edit.png"|theme}>" alt="<{$smarty.const._EDIT}>" title="<{$smarty.const._EDIT}>" /></a>
		<{else}>
		<a href="index.php?action=ModuleUninstall&amp;dirname=<{$module->getVar('dirname')}>"><img src="<{"icons/module_remove.png"|theme}>" alt="<{$smarty.const._AD_LEGACY_LANG_UNINSTALL}>" title="<{$smarty.const._AD_LEGACY_LANG_UNINSTALL}>" /></a>
		<{/if}>
	<a href="index.php?action=ModuleUpdate&amp;dirname=<{$module->getVar('dirname')}>"><img src="<{"icons/update.png"|theme}>" alt="<{$smarty.const._AD_LEGACY_LANG_UPDATE}>" title="<{$smarty.const._AD_LEGACY_LANG_UPDATE}>" /></a>
	<a href="index.php?action=ModuleInfo&amp;dirname=<{$module->getVar('dirname')}>"><img src="<{"icons/info.png"|theme}>" alt="<{$smarty.const._AD_LEGACY_LANG_INFORMATION}>" title="<{$smarty.const._AD_LEGACY_LANG_INFORMATION}>" /></a>
		<div class="pull-right">
			<{$smarty.const._AD_LEGACY_LANG_ISACTIVE}>:<input type="checkbox" name="isactive[<{$module->getVar('mid')}>]" value="1" <{if $module->getVar('isactive')}>checked="checked"<{/if}> />
		</div>
	</p>
	</div>
	<{/if}>
<{/foreach}>
</div>
</div>
<br />
<div id="tool" class="tab-pane fade">
<div class="row-fluid">
<{assign var="cnt" value=0}>
<{foreach item=module from=$moduleObjects}>
	<{if !$module->getVar('hasmain') || $module->getVar('weight','e') == 0}>
	<{assign var="cnt" value=$cnt+1}>
	<{if $cnt%4==1}>
		</div><br /><div class="row-fluid">
	<{/if}>

	<div class="thumbnail span3">
		<div class="header">
			<{$smarty.const._AD_LEGACY_LANG_MOD_MID}>:<{$module->getVar('mid')}>
		</div>
		<img style="height:30px;" src="<{$xoops_url}>/modules/<{$module->getVar('dirname')}>/<{$module->modinfo.image}>" alt="<{$module->getVar('name')}>" />
		<p>
			<{$smarty.const._AD_LEGACY_LANG_MOD_NAME}>:
			<input type="text" class="input-medium" name="name[<{$module->getVar('mid')}>]" value="<{$module->getVar('name')}>" />
		</p>
		<p>
			<{$smarty.const._AD_LEGACY_LANG_VERSION}>:
			<{if $module->hasNeedUpdate()}>
			<strong class="legacy_module_versionMsg"><{$module->getRenderedVersion()}></strong>
			<a href="index.php?action=ModuleUpdate&amp;dirname=<{$module->getVar('dirname')}>"><img src="<{"icons/upgrade.png"|theme}>" alt="<{$smarty.const._AD_LEGACY_LANG_UPGRADE}>" title="<{$smarty.const._AD_LEGACY_LANG_UPGRADE}>" /></a>
			<{else}>
			<{$module->getRenderedVersion()}>
			<{/if}>
			<br /><{$smarty.const._AD_LEGACY_LANG_LASTUPDATE}>:<{$module->getVar('last_update')|xoops_formattimestamp:l}>
			<br /><{$smarty.const._AD_LEGACY_LANG_ISACTIVE}>:<input type="checkbox" name="isactive[<{$module->getVar('mid')}>]" value="1" <{if $module->getVar('isactive')}>checked="checked"<{/if}> />
			<br /><{$smarty.const._AD_LEGACY_LANG_WEIGHT}>:<input type="number" size="4" maxlength="4" name="weight[<{$module->getVar('mid')}>]" value="<{$module->getVar('weight','e')}>" class="input-tiny" />
			<br /><{$smarty.const._AD_LEGACY_LANG_CONTROL}>:
			<{if $module->getVar('isactive') == 1 }>
			<a href="index.php?action=ModuleEdit&amp;mid=<{$module->getVar('mid')}>"><img src="<{"icons/module_edit.png"|theme}>" alt="<{$smarty.const._EDIT}>" title="<{$smarty.const._EDIT}>" /></a>
			<{else}>
			<a href="index.php?action=ModuleUninstall&amp;dirname=<{$module->getVar('dirname')}>"><img src="<{"icons/module_remove.png"|theme}>" alt="<{$smarty.const._AD_LEGACY_LANG_UNINSTALL}>" title="<{$smarty.const._AD_LEGACY_LANG_UNINSTALL}>" /></a>
			<{/if}>
			<a href="index.php?action=ModuleUpdate&amp;dirname=<{$module->getVar('dirname')}>"><img src="<{"icons/update.png"|theme}>" alt="<{$smarty.const._AD_LEGACY_LANG_UPDATE}>" title="<{$smarty.const._AD_LEGACY_LANG_UPDATE}>" /></a>
			<a href="index.php?action=ModuleInfo&amp;dirname=<{$module->getVar('dirname')}>"><img src="<{"icons/info.png"|theme}>" alt="<{$smarty.const._AD_LEGACY_LANG_INFORMATION}>" title="<{$smarty.const._AD_LEGACY_LANG_INFORMATION}>" /></a>
		</p>
	</div>
	<{/if}>
<{/foreach}>
</div>
</div>
</div>
<div align="center">
<input type="submit" value="<{$smarty.const._AD_LEGACY_LANG_UPDATE}>" class="btn btn-primary" />
</div>
</form>

