<{* $Id: $ *}>
<{assign var="dirname" value="bmcart"}>
<{assign var="contname" value="item"}>

<h3><{$smarty.const._MD_BMCART_CART_LIST}></h3>

<{if $Message}>
<div class="alert">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong><{$Message}></strong>
</div>
<{/if}>

<form name="cartListForm" action="<{$xoops_url}>/modules/<{$dirname}>/cartList/update" method="post">

	<table>
		<tr>
			<td><{$smarty.const._MD_BMCART_ITEM_NAME}></td>
			<td><{$smarty.const._MD_BMCART_ITEM_PRICE}></td>
			<td><{$smarty.const._MD_BMCART_CART_QTY}></td>
			<td><{$smarty.const._MD_BMCART_AMOUNT}></td>
		</tr>
		<{foreach item=cart from=$ListData}>
		<tr>
			<td>
				<a href="<{$xoops_url}>/modules/<{$dirname}>/itemList/itemDetail/<{$cart.item_id}>">
					<{$cart.item_name}>
				</a>
			</td>
			<td>
				<{$cart.price|number_format}><{$smarty.const._MD_BMCART_ITEM_PRICE_DESC}>
			</td>
			<td align="right">
				<input type="text" name="qty_<{$cart.cart_id}>" value="<{$cart.qty}>"/>
				<a class="btn" href="<{$xoops_url}>/modules/<{$dirname}>/cartList/removeItem/<{$cart.cart_id}>">
					<{$smarty.const._MD_BMCART_REMOVE_ITEM}>
				</a>
			</td>
			<td align="right">
				<{$cart.amount|number_format}><{$smarty.const._MD_BMCART_PRICE_DESC}>
			</td>
		</tr>
		<{/foreach}>
		<tr>
			<td></td>
			<td></td>
			<td align="right"><{$smarty.const._MD_BMCART_SHIPPING_FEE}></td>
			<td align="right"><{$shipping_fee|number_format}><{$smarty.const._MD_BMCART_PRICE_DESC}></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td align="right"><{$smarty.const._MD_BMCART_TOTAL_AMOUNT}></td>
			<td align="right"><{$total_amount|number_format}><{$smarty.const._MD_BMCART_PRICE_DESC}></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td align="right"><input type="submit" name="update" value="<{$smarty.const._MD_BMCART_QTY_UPDATE}>"/></td>
			<td align="right"><input type="submit" name="checkout" value="<{$smarty.const._MD_BMCART_TO_CHECKOUT}>"/></td>
	</table>
</form>
<div class="pagenavi" align="center"><{xoops_pagenavi pagenavi=$pageNavi}></div>
