<{* $Id: $ *}>
<{assign var="dirname" value="bmcart"}>
<{assign var="contname" value="category"}>

<h3><{$smarty.const._MD_BMCART_CATEGORY_LIST}></h3>
<ul>
<{foreach key=catId item=category from=$ListData}>
	<li><{$category.category_name}></li>
	<{foreach from=$category.children key=k item=v}>
		<a class="btn" class="menuMain" href="<{$xoops_url}>/modules/bmcart/itemList/category/<{$k}>">
			<{$v}>
		</a>
	<{/foreach}>
	<{if $xoops_isadmin}>
		<a class="badge" href="<{$xoops_url}>/modules/<{$dirname}>/admin/index.php?action=CategoryEdit&parent_id=<{$catId}>" >Add Category</a>
	<{/if}>
	<{/foreach}>
</ul>

<{include file='db:system_notification_select.html'}>