<{* $Id: $ *}>
<{assign var="dirname" value="bmcart"}>
<{assign var="contname" value="item"}>

<h3 xmlns="http://www.w3.org/1999/html"><{$smarty.const._MD_BMCART_CHECKOUT}></h3>

<{if $Message}>
<div class="alert">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong><{$Message}></strong>
</div>
<{/if}>

<form name="checkout" action="<{$xoops_url}>/modules/<{$dirname}>/checkout/orderFixed" method="post">

<div class="container-fluid">
	<div class="span8">
		<h4><{$smarty.const._MD_BMCART_SHIPPING_TITLE}></h4>


<{if $CurrentOrder}>
	<input type="hidden" name="order_id" value="<{$CurrentOrder->getShow('order_id')}>" />
	<table class="table">
		<tr>
			<td><{$smarty.const._MD_BMCART_SHIPPING_TO}></td>
			<td><{$CurrentOrder->getShow('last_name')}>&nbsp;<{$CurrentOrder->getShow('first_name')}></td>
		</tr>
		<tr>
			<td><{$smarty.const._MD_BMCART_ZIP_CODE}></td>
			<td><{$CurrentOrder->getShow('zip_code')}></td>
		</tr>
		<tr>
			<td><{$smarty.const._MD_BMCART_SHIPPING_ADDRESS}></td>
			<td><{$CurrentOrder->getShow('state')}>
				<{$CurrentOrder->getShow('address')}>
				<{$CurrentOrder->getShow('address2')}></td>
		<tr>
			<td><{$smarty.const._MD_BMCART_PHONE}></td>
			<td><{$CurrentOrder->getShow('phone')}></td>
		</tr>
		<tr>
			<td></td>
			<td>
				<a class="btn" href="<{$xoops_url}>/modules/<{$dirname}>/checkout/editAddress">
				<{$smarty.const._MD_BMCART_MODIFY}>
				</a>
			</td>
		</tr>
	</table>
<{else}>
	<a class="btn" href="<{$xoops_url}>/modules/<{$dirname}>/checkout/addNewAddress">
		<{$smarty.const._MD_BMCART_ADDNEW}>
	</a>
<{/if}>
</div>
<div class="span4">
<h4><{$smarty.const._MD_BMCART_BILLING_TITLE}></h4>
<div class="well">
<p>
<input type="radio" name="payment_type" value="1" /><{$smarty.const._MD_BMCART_PAYMENT_TYPE_WIRE}>
</p>
<input type="radio" name="payment_type" value="2" <{if $CardList}>checked<{/if}> /><{$smarty.const._MD_BMCART_PAYMENT_TYPE_CREDIT_CARD}>
	<{if $CardList}>
	<blockquote>
	<ul class="unstyled">
	<{foreach item=card from=$CardList}>
		<li>
		<{if $card.DefaultFlag eq 1}>
			<input type="radio" name="CardSeq" value="<{$card.CardSeq}>" checked />
		<{else}>
			<input type="radio" name="CardSeq" value="<{$card.CardSeq}>" />
		<{/if}>
		<{$card.CardNo|substr:12:4}>(<{$smarty.const._MD_BMCART_LAST3CODE}>)
		</li>
	<{/foreach}>
	</ul>
	</blockquote>
	<a class="btn" href="<{$xoops_url}>/modules/gmopgx/saveCard">
	<{$smarty.const._MD_BMCART_ADD_CREDIT}>
	</a>
<{else}>
<a class="btn" href="<{$xoops_url}>/modules/gmopgx/memberSave">
	<{$smarty.const._MD_BMCART_ADDNEW}>
</a>
<{/if}>
<input type="hidden" name="amount" value="<{$total_amount}>" />
<{$ticket_hidden}>
<input class="btn btn-primary" type="submit" name="orderFixed" value="<{$smarty.const._MD_BMCART_ORDER_FIXED}>" />
</div>
</div>
</div>
</form>

<h4><{$smarty.const._MD_BMCART_ITEM_LIST}></h4>
<div class="well">
	<table width="100%">
	<tr>
		<td width="20%"><{$smarty.const._MD_BMCART_ITEM_NAME}></td>
		<td width="20%" align="right"><{$smarty.const._MD_BMCART_ITEM_PRICE}></td>
		<td width="40%" align="right"><{$smarty.const._MD_BMCART_CART_QTY}></td>
		<td width="20%" align="right"><{$smarty.const._MD_BMCART_AMOUNT}></td>
	</tr>
	<{foreach item=cart from=$ListData}>
	<tr>
		<td>
			<a href="<{$xoops_url}>/modules/<{$dirname}>/itemList/itemDetail/<{$cart.item_id}>">
				<{$cart.item_name}>
			</a>
		</td>
		<td align="right">
			<{$cart.price|number_format|string_format:"%15s"}><{$smarty.const._MD_BMCART_PRICE_DESC}>
		</td>
		<td align="right">
			<{$cart.qty}>
		</td>
		<td align="right">
			<{$cart.amount|number_format|string_format:"%15s"}><{$smarty.const._MD_BMCART_PRICE_DESC}>
		</td>
	</tr>
	<{/foreach}>
	<tr>
		<td></td>
		<td></td>
		<td align="right"><{$smarty.const._MD_BMCART_SHIPPING_FEE}></td>
		<td align="right"><{$shipping_fee|number_format|string_format:"%15s"}><{$smarty.const._MD_BMCART_PRICE_DESC}></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td align="right"><{$smarty.const._MD_BMCART_TOTAL_AMOUNT}></td>
		<td align="right"><{$total_amount|number_format|string_format:"%15s"}><{$smarty.const._MD_BMCART_PRICE_DESC}></td>
	</tr>
</table>
</div>
