<{* $Id: $ *}>
<{assign var="dirname" value="bmcart"}>
<{assign var="contname" value="item"}>

<h3><{$smarty.const._MD_BMCART_CHECKOUT}></h3>

<h4><{$smarty.const._MD_BMCART_SHIPPING_TITLE}></h4>

<form  class="form-horizontal" name="editAddressForm" action="<{$xoops_url}>/modules/<{$dirname}>/checkout/updateAddress" method="post">

<table>
	<tr>
		<td><{$smarty.const._MD_BMCART_LASTNAME}></td>
		<td><input type="text" name="last_name" value="<{$CurrentOrder->getShow('last_name')}>" /></td>
	</tr>
	<tr>
		<td><{$smarty.const._MD_BMCART_FIRSTNAME}></td>
		<td><input type="text" name="first_name" value="<{$CurrentOrder->getShow('first_name')}>" /></td>
	</tr>
	<tr>
		<td><{$smarty.const._MD_BMCART_PHONE}></td>
		<td><input type="text" name="phone"  value="<{$CurrentOrder->getShow('phone')}>" /></td>
	</tr>
	<tr>
		<td><{$smarty.const._MD_BMCART_ZIP_CODE}></td>
		<td><input type="text" name="zip_code"  id="zip" value="<{$CurrentOrder->getShow('zip_code')}>" />
		</td>
	</tr>
	<tr>
		<td><{$smarty.const._MD_BMCART_STATE}></td>
		<td><{html_options id=state name=state options=$stateOptions selected=$CurrentOrder->getShow('state')}></td>
	</tr>
	<tr>
		<td><{$smarty.const._MD_BMCART_ADDRESS}></td>
		<td><input type="text" name="address"  id="address" value="<{$CurrentOrder->getShow('address')}>" />
		<input class="btn" type="button" value="<{$smarty.const._MD_BMCART_ZIP2ADDRESS}>" onclick="GAddressFinder.set('zip', 'state','address')" />
		</td>
	</tr>
	<tr>
		<td><{$smarty.const._MD_BMCART_ADDRESS2}></td>
		<td><input type="text" name="address2"  value="<{$CurrentOrder->getShow('address2')}>" /></td>
	</tr>
</table>
<{$ticket_hidden}>
<input type="hidden" name="order_id"  value="<{$CurrentOrder->getShow('order_id')}>" /><br />
<input class="btn btn-primary" type="submit" name="submit" value="<{$smarty.const._MD_BMCART_REGISTER}>" />
</form>

<!-- ZIP Code to Address on googlecode.com MIT licence code-->
<script src="http://0-oo.googlecode.com/svn/gaddress-finder.js"></script>
