<{* $Id: $ *}>
<{assign var="dirname" value="bmcart"}>
<{assign var="contname" value="item"}>

<{if $Message}>
<div class="alert">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong><{$Message}></strong>
</div>
<{/if}>

<{foreach item=breadcrumb from=$breadcrumbs}>
<a href="<{$xoops_url}>/modules/<{$dirname}>/itemList/category/<{$breadcrumb.category_id}>">
	<{if $breadcrumb.category_id}>
	<{$breadcrumb.category_name}><span>&rsaquo;</span>
	<{/if}>
</a>
<{/foreach}>
<h2>
	<{$ListData.item_name|xoops_escape}>
</h2>
<div class="container-fluid">
	<div class="span4">
		<{if $imageObjects}>
		<{foreach item=img from=$imageObjects}>
		<{if $img->getShow('image_id') eq $current_image}>
		<div class="thumbnail">
			<a href="#myModal" role="button" data-toggle="modal">
				<img name="imgonmouse" src="<{$xoops_url}>/uploads/m_<{$img->getShow('image_filename')}>" id="MainPhoto"/>
			</a>
		</div>
		<div align="center">
		<small><{$smarty.const._MD_BMCART_ITEM_IMAGE}></small>
		</div>
		<!-- Modal -->
		<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		     aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel"><{$ListData.item_name}></h3>
			</div>
			<div class="modal-body">
				<p>
					<img src="<{$xoops_url}>/uploads/<{$img->getShow('image_filename')}>" id="ModalPhoto" />
				</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true"><{$smarty.const._MD_BMCART_TABLE_CLOSE}></button>
			</div>
		</div>
		<{/if}>
		<{/foreach}>
		<div class="thumbnail">
			<{foreach item=img from=$imageObjects}>
			<a href="<{$xoops_url}>/modules/<{$dirname}>/itemList/itemDetail/<{$ListData.item_id}>/<{$img->getShow('image_id')}>">
				<img src="<{$xoops_url}>/uploads/s_<{$img->getShow('image_filename')}>" class="ChangePhoto" />
			</a>
			<{/foreach}>
		</div>
		<{else}>
			<img src="<{$xoops_url}>/modules/<{$dirname}>/images/noimage.png"/>
		<{/if}>
		<{if $ListData.barcode}>
			<div hidden id="ean_13"><{$ListData.barcode}></div>
			<canvas id="canvas_1" class="span12" height="90px"></canvas>
		<{/if}>
		<{if $xoops_isadmin}>
		<div align="center">
			<a class="badge" href="<{$xoops_url}>/modules/<{$dirname}>/admin/index.php?action=imageList&item_id=<{$ListData.item_id}>" >
				<{$smarty.const._MD_BMCART_ADD_IMAGE}>
			</a>
		</div>
		<{/if}>
	</div>
	<div class="span8">
		<form action="<{$xoops_url}>/modules/<{$dirname}>/itemList/addtocart" method="post">
		<table class="table">
			<tr>
				<td width="20%"><{$smarty.const._MD_BMCART_ITEM_DESC}></td>
				<td><{$ListData.item_desc}></td>
			</tr>
			<tr>
				<td><{$smarty.const._MD_BMCART_ITEM_PRICE}></td>
				<td align="right"><{$ListData.price|number_format}><{$smarty.const._MD_BMCART_PRICE_DESC}></td>
			</tr>
			<tr>
				<td><{$smarty.const._MD_BMCART_ITEM_SHIPPING_FEE}></td>
				<td align="right">
					<{if $free_shipping lte $ListData.price}>
					<span style="text-decoration:line-through">
					<{$ListData.shipping_fee|number_format}><{$smarty.const._MD_BMCART_PRICE_DESC}>
					</span>
					<span class="badge badge-important">
						<{$free_shipping|number_format}>
						<{$smarty.const._MD_BMCART_FREE_SHIPPING_DESC}>
					</span>
					<{else}>
					<{$ListData.shipping_fee|number_format}><{$smarty.const._MD_BMCART_PRICE_DESC}>
					<{/if}>
				</td>
			</tr>
			<tr>
				<td><{$smarty.const._MD_BMCART_ITEM_STOCK}></td>
				<td>
					<{if $skuObjects}>
					<{foreach item=sku from=$skuObjects}>
						<{xoops_input type="radio" name="sku_id" value=$sku->getShow('sku_id')}>
						<{$sku->getShow('sku_name')}>
						<{$sku->getShow('sku_stock')|number_format}><{$smarty.const._MD_BMCART_QTY_DESC}>
					<{/foreach}>
					<{else}>
					<{$ListData.stock_qty|number_format}>
					<{/if}>
					<{if $xoops_isadmin}>
						<a class="badge" href="<{$xoops_url}>/modules/<{$dirname}>/admin/index.php?action=SkuList&item_id=<{$ListData.item_id}>" >
							<{$smarty.const._MD_BMCART_ADD_SKU}>
						</a>
					<{/if}>
				</td>
			</tr>
			<tr>
				<td><{$smarty.const._MD_BMCART_UPDATE}></td>
				<td class="align-right"><{$ListData.last_update|date_format:'%Y&#x5E74;%m&#x6708;%e&#x65E5;'}></td>
			</tr>
		</table>
		<{if $xoops_isadmin}>
			<a class="btn" href="<{$xoops_url}>/modules/<{$dirname}>/admin/index.php?action=ItemEdit&item_id=<{$ListData.item_id}>" >
				<{$smarty.const._MD_BMCART_EDIT}>
			</a>
		<{/if}>

		<{if $ListData.price>0 &&  $ListData.stock_qty>0 }>
			<input type="hidden" name="item_id" value="<{$ListData.item_id|xoops_escape}>" />
			<input type="submit" class="btn btn-primary" name="submit" value="<{$smarty.const._MD_BMCART_ADDTOCART}>" />
			<{* <i class="icon-shopping-cart icon-white"></i> *}>
		<{/if}>
		</form>
	</div>
</div>
<h4><{$smarty.const._MD_BMCART_CUSTOMER_REVIEW}></h4>
<!-- begin comments area -->
<div style="text-align: center;">
	<{$commentsnav}>
	<{$lang_notice}>
</div>

<div>
	<!-- start comments loop -->
	<{if $comment_mode == "flat"}>
	<{include file="db:system_comments_flat.html"}>
	<{elseif $comment_mode == "thread"}>
	<{include file="db:system_comments_thread.html"}>
	<{elseif $comment_mode == "nest"}>
	<{include file="db:system_comments_nest.html"}>
	<{/if}>
	<!-- end comments loop -->
</div>
<!-- end comments area -->

<{include file='db:system_notification_select.html'}>

<script type="text/javascript">
	$(function() {
		$("div#ean_13").text = draw_barcode();
		function draw_barcode(){
			var barcodeDrawer;
			barcodeDrawer = new EAN13CanvasDrawer($('div#ean_13').text(), 'canvas_1');
			return barcodeDrawer.drawBarcode();
		}
		$("img.ChangePhoto").click(function(){
			var ImgSrc = $(this).attr("src");
			ImgSrc = ImgSrc.replace("s_","m_");
			var MdlSrc = ImgSrc.replace("m_","");
			var ImgAlt = $(this).attr("alt");
			$("img#ModalPhoto").attr({src:MdlSrc,alt:ImgAlt});
			$("img#MainPhoto").attr({src:ImgSrc,alt:ImgAlt});
			$("img#MainPhoto").hide();
			$("img#MainPhoto").fadeIn("slow");
			return false;
		});
	});
</script>
