<{* $Id: $ *}>
<{assign var="dirname" value="bmcart"}>
<{assign var="contname" value="item"}>

<{foreach item=breadcrumb from=$breadcrumbs}>
<a href="<{$xoops_url}>/modules/<{$dirname}>/itemList/category/<{$breadcrumb.category_id}>">
	<{if $breadcrumb.category_id}>
	<{$breadcrumb.category_name}>&nbsp;<span>&rsaquo;</span>
	<{/if}>
</a>
<{/foreach}>
<h3><{$smarty.const._MD_BMCART_ITEM_LIST}></h3>
<table class="table table-striped table-bordered table-condensed">
	<tr>
		<th width="10%">
		</th>
		<th width="50%">
			<{$smarty.const._MD_BMCART_ITEM_NAME}>
			<label>
				<a class="badge<{if $sortName eq 'item_name' && $sortOrder eq 'asc'}> badge-important<{/if}>"
				   href="<{$xoops_url}>/modules/<{$dirname}>/itemList/sortBy/<{$current_category}>/item_name/asc">
					<{$smarty.const._MD_BMCART_SORT_ASC_NAME}>
				</a>
			</label>
			<label>
				<a class="badge<{if $sortName eq 'item_name' && $sortOrder eq 'desc'}> badge-important<{/if}>"
				   href="<{$xoops_url}>/modules/<{$dirname}>/itemList/sortBy/<{$current_category}>/item_name/desc">
					<{$smarty.const._MD_BMCART_SORT_DESC_NAME}>
				</a>
			</label>
		</th>
		<th>
			<{$smarty.const._MD_BMCART_ITEM_PRICE}>
			<label>
				<a class="badge<{if $sortName eq 'price' && $sortOrder eq 'asc'}> badge-important<{/if}>"
				   href="<{$xoops_url}>/modules/<{$dirname}>/itemList/sortBy/<{$current_category}>/price/asc">
					<{$smarty.const._MD_BMCART_SORT_ASC_PRICE}>
				</a>
			</label>
			<label>
				<a class="badge<{if $sortName eq 'price' && $sortOrder eq 'desc'}> badge-important<{/if}>"
				   href="<{$xoops_url}>/modules/<{$dirname}>/itemList/sortBy/<{$current_category}>/price/desc">
					<{$smarty.const._MD_BMCART_SORT_DESC_PRICE}>
				</a>
			</label>
		</th>
		<{if !$smartphone}>
		<th>
			<{$smarty.const._MD_BMCART_ITEM_STOCK}>
			<label>
				<a class="badge<{if $sortName eq 'stock_qty' && $sortOrder eq 'asc'}> badge-important<{/if}>"
				   href="<{$xoops_url}>/modules/<{$dirname}>/itemList/sortBy/<{$current_category}>/stock_qty/asc">
					<{$smarty.const._MD_BMCART_SORT_ASC_QTY}>
				</a>
			</label>
			<label>
				<a class="badge<{if $sortName eq 'stock_qty' && $sortOrder eq 'desc'}> badge-important<{/if}>"
				   href="<{$xoops_url}>/modules/<{$dirname}>/itemList/sortBy/<{$current_category}>/stock_qty/desc">
					<{$smarty.const._MD_BMCART_SORT_DESC_QTY}>
				</a>
			</label>
		</th>
		<th>
			<{$smarty.const._MD_BMCART_UPDATE}>
			<label>
				<a class="badge<{if $sortName eq 'last_update' && $sortOrder eq 'asc'}> badge-important<{/if}>"
				   href="<{$xoops_url}>/modules/<{$dirname}>/itemList/sortBy/<{$current_category}>/last_update/asc">
					<{$smarty.const._MD_BMCART_SORT_ASC_DATE}>
				</a>
			</label>
			<label>
				<a class="badge<{if $sortName eq 'last_update' && $sortOrder eq 'desc'}> badge-important<{/if}>"
				   href="<{$xoops_url}>/modules/<{$dirname}>/itemList/sortBy/<{$current_category}>/last_update/desc">
					<{$smarty.const._MD_BMCART_SORT_DESC_DATE}>
				</a>
			</label>
		</th>
		<{/if}>
	</tr>
	<{foreach item=val from=$ListData}>
	<tr>
		<td style="min-width: 40px;">
			<a href="<{$xoops_url}>/modules/<{$dirname}>/itemList/itemDetail/<{$val.item_id|xoops_escape}>">
				<img src="<{$xoops_url}>/uploads/s_<{$val.image_filename}>" style="min-width: 40px;"/>
			</a>
		</td>
		<td>
			<a href="<{$xoops_url}>/modules/<{$dirname}>/itemList/itemDetail/<{$val.item_id|xoops_escape}>">
				<{$val.item_name|xoops_escape}>
			</a>
		</td>
		<td style="text-align: right;">
			&yen;<{$val.price|number_format}>
		</td>
		<{if !$smartphone}>
		<td style="text-align: right;">
			<{$val.stock_qty|number_format}>
		</td>
		<td>
			<{$val.last_update|date_format:'%Y/%m/%d'}>
		</td>
		<{/if}>
	</tr>
	<{/foreach}>
</table>
<div class="pagenavi" align="center">
	<nobr>
		<div class="pagination pagination-centered">
			<ul>
				<li class="active">
				<li>
					<{xoops_pagenavi2 pagenavi=$pageNavi}>
				</li>
				<li>
			</ul>
		</div>
	</nobr>
</div>
