<{* $Id: $ *}>
<{assign var="dirname" value="bmcart"}>
<{assign var="contname" value="item"}>

<{foreach item=breadcrumb from=$breadcrumbs}>
<a href="<{$xoops_url}>/modules/<{$dirname}>/itemList/category/<{$breadcrumb.category_id}>">
	<{if $breadcrumb.category_id}>
	<{$breadcrumb.category_name}>&nbsp;<span>&rsaquo;</span>
	<{/if}>
</a>
<{/foreach}>
<h3><{$smarty.const._MD_BMCART_ITEM_LIST}></h3>
<table class="table">
	<tr>
		<th>
		</th>
		<th>
			<{$smarty.const._MD_BMCART_ITEM_NAME}>
			<a href="<{$xoops_url}>/modules/<{$dirname}>/itemList/sortBy/<{$current_category}>/item_name/asc">
			<i class="icon-arrow-down"></i>
			</a>
			<a href="<{$xoops_url}>/modules/<{$dirname}>/itemList/sortBy/<{$current_category}>/item_name/desc">
				<i class="icon-arrow-up"></i>
			</a>
		</th>
		<th>
			<{$smarty.const._MD_BMCART_ITEM_PRICE}>
			<a href="<{$xoops_url}>/modules/<{$dirname}>/itemList/sortBy/<{$current_category}>/price/asc">
				<i class="icon-arrow-down"></i>
			</a>
			<a href="<{$xoops_url}>/modules/<{$dirname}>/itemList/sortBy/<{$current_category}>/price/desc">
				<i class="icon-arrow-up"></i>
			</a>
		</th>
		<th>
			<{$smarty.const._MD_BMCART_ITEM_STOCK}>
			<a href="<{$xoops_url}>/modules/<{$dirname}>/itemList/sortBy/<{$current_category}>/stock_qty/asc">
				<i class="icon-arrow-down"></i>
			</a>
			<a href="<{$xoops_url}>/modules/<{$dirname}>/itemList/sortBy/<{$current_category}>/stock_qty/desc">
				<i class="icon-arrow-up"></i>
			</a>
		</th>
		<th>
			<{$smarty.const._MD_BMCART_UPDATE}>
			<a href="<{$xoops_url}>/modules/<{$dirname}>/itemList/sortBy/<{$current_category}>/last_update/asc">
				<i class="icon-arrow-down"></i>
			</a>
			<a href="<{$xoops_url}>/modules/<{$dirname}>/itemList/sortBy/<{$current_category}>/last_update/desc">
				<i class="icon-arrow-up"></i>
			</a>
		</th>
	</tr>
<{foreach item=val from=$ListData}>
	<tr>
		<td width="10%">
			<a href="<{$xoops_url}>/modules/<{$dirname}>/itemList/itemDetail/<{$val.item_id|xoops_escape}>">
			<img src="<{$xoops_url}>/uploads/s_<{$val.image_filename}>" />
			</a>
		</td>
		<td>
			<a href="<{$xoops_url}>/modules/<{$dirname}>/itemList/itemDetail/<{$val.item_id|xoops_escape}>">
			<{$val.item_name|xoops_escape}>
		</a>
		</td>
		<td>
			&yen;<{$val.price|number_format}>
		</td>
		<td>
			<{$val.stock_qty|number_format}>
		</td>
		<td>
			<{$val.last_update|date_format:'%Y&#x5E74;%m&#x6708;%e&#x65E5;'}>
		</td>
	</tr>
<{/foreach}>
</table>
<div class="pagenavi" align="center">
	<nobr>
		<div class="pagination pagination-centered">
			<ul>
				<li class="active">
				<li>
				<{xoops_pagenavi2 pagenavi=$pageNavi}>
				</li>
				<li>
			</ul>
		</div>
	</nobr>
</div>
