<{* $Id: $ *}>
<{assign var="dirname" value="bmcart"}>
<{assign var="contname" value="order"}>

<h3><{$smarty.const._MD_BMCART_ORDER_LIST}></h3>
<table class="table">
	<tr>
		<td><{$smarty.const._MD_BMCART_ORDER_ID}></td>
		<td><{$smarty.const._MD_BMCART_ORDER_DATE}></td>
		<td><{$smarty.const._MD_BMCART_SUB_TOTAL}></td>
		<td><{$smarty.const._MD_BMCART_SHIPPING_FEE}></td>
		<td><{$smarty.const._MD_BMCART_AMOUNT}></td>
		<td><{$smarty.const._MD_BMCART_PAYMENT_TYPE}></td>
	</tr>
	<{foreach item=order from=$ListData}>
	<tr>
		<td>
			<a href="<{$xoops_url}>/modules/<{$dirname}>/orderList/orderDetail/<{$order->getShow('order_id')}>">
				<{$order->getShow('order_id')}>
			</a>
		</td>
		<td>
			<{$order->getShow('order_date')|date_format:'%Y&#x5E74;%m&#x6708;%e&#x65E5; %H:%M'}>
		</td>
		<td align="right">
			<{$order->getShow('sub_total')|number_format}><{$smarty.const._MD_BMCART_PRICE_DESC}>
			(<{$order->getShow('tax')|number_format}><{$smarty.const._MD_BMCART_PRICE_DESC}>)
		</td>
		<td align="right">
			<{$order->getShow('shipping_fee')|number_format}><{$smarty.const._MD_BMCART_PRICE_DESC}>
		</td>
		<td align="right">
			<{$order->getShow('amount')|number_format}><{$smarty.const._MD_BMCART_PRICE_DESC}>
		</td>
		<td align="right">
			<{if $order->getShow('payment_type')==1}>
				<{$smarty.const._MD_BMCART_PAYBY_WIRE}>
			<{elseif $order->getShow('payment_type')==2}>
				<{$smarty.const._MD_BMCART_PAYBY_CREDIT}>
			<{/if}>
		</td>
	</tr>
	<{/foreach}>
</table>
<div class="pagenavi" align="center"><{xoops_pagenavi pagenavi=$pageNavi}></div>
