<div class="adminnavi">
	<a href="./index.php"><{$smarty.const._MI_BMCART_NAME}></a>
	&raquo;&raquo; <a href="./index.php?action=CategoryList"><{$smarty.const._AD_BMCART_CATEGORY_LIST}></a>
	&raquo;&raquo;
	<{if $actionForm->get('category_id') }>
	<span class="adminnaviTitle"><{$smarty.const._AD_BMCART_CATEGORY_EDIT}></span>
	<{else}>
	<span class="adminnaviTitle"><{$smarty.const._AD_BMCART_CATEGORY_NEW}></span>
	<{/if}>
</div>

<{if $actionForm->get('category_id') }>
<h3 class="admintitle"><{$smarty.const._AD_BMCART_CATEGORY_EDIT}> (<{$actionForm->get('category_name')}>)</h3>
<{else}>
<h3 class="admintitle"><{$smarty.const._AD_BMCART_CATEGORY_NEW}></h3>
<{/if}>

<{*
<{if $actionForm->hasError()}>
<div class="error">
	<ul>
		<{foreach category=message from=$actionForm->getErrorMessages()}>
		<li><{$message|xoops_escape}></li>
		<{/foreach}>
	</ul>
</div>
<{/if}>
*}>
<form action="?action=CategoryEdit" method="post">
	<{xoops_token form=$actionForm}>
	<{xoops_input type=hidden name=category_id value=$actionForm->get('category_id')}>
	<table class="outer">
		<tr>
			<td class="head"><{$smarty.const._AD_BMCART_CATEGORY_NAME}></td>
			<td class="<{cycle values=" odd,even"}>">
			<{xoops_input type=text name=category_name value=$actionForm->get('category_name')}>
			</td>
		</tr>
		<tr>
			<td class="head"><{$smarty.const._AD_BMCART_PARENT_ID}></td>
			<td class="<{cycle values=" odd,even"}>">
			<select size="1" name="parent_id">
				<{html_options options=$categoryOptions selected=$actionForm->get('parent_id')}>
			</select>
			</td>
		</tr>
		<tr>
			<td colspan="2" class="foot">
				<input class="formButton" type="submit" value="<{$smarty.const._SUBMIT}>"/>
				<input class="formButton" type="submit" value="<{$smarty.const._BACK}>" name="_form_control_cancel"/>
			</td>
		</tr>
	</table>
</form>
