<div class="adminnavi">
	<a href="./index.php"><{$smarty.const._MI_BMCART_NAME}></a>
	&raquo;&raquo; <a href="./index.php?action=ImageList"><{$smarty.const._AD_BMCART_IMAGE_LIST}></a>
	&raquo;&raquo;
	<{if $actionForm->get('item_id') }>
	<span class="adminnaviTitle"><{$smarty.const._AD_BMCART_IMAGE_EDIT}></span>
	<{else}>
	<span class="adminnaviTitle"><{$smarty.const._AD_BMCART_IMAGE_NEW}></span>
	<{/if}>
</div>

<{if $actionForm->get('image_id') }>
<h3 class="admintitle"><{$smarty.const._AD_BMCART_IMAGE_EDIT}> (<{$actionForm->get('image_filename')}>)</h3>
<{else}>
<h3 class="admintitle"><{$smarty.const._AD_BMCART_IMAGE_NEW}></h3>
<{/if}>

<{if $actionForm->hasError()}>
<div class="error">
	<ul>
		<{foreach item=message from=$actionForm->getErrorMessages()}>
		<li><{$message|xoops_escape}></li>
		<{/foreach}>
	</ul>
</div>
<{/if}>

<form action="?action=ImageEdit" method="post" enctype="multipart/form-data">
	<{xoops_token form=$actionForm}>
	<{xoops_input type=hidden name=image_id value=$actionForm->get('image_id')}>
	<table class="outer">
		<tr>
			<td class="head"><{$smarty.const._AD_BMCART_ITEM_ID}></td>
			<td class="<{cycle values=" odd,even"}>">
			<{html_options name=item_id options=$itemOptions selected=$actionForm->get('item_id')}>
			</td>
		</tr>
		<tr>
			<td class="head"><{$smarty.const._AD_BMCART_SMALL_IMAGE}></td>
			<td class="<{cycle values=" odd,even"}>">
			<img src="<{$xoops_url}>/uploads/s_<{$actionForm->get('image_filename')}>" />
		</tr>
		<tr>
			<td class="head"><{$smarty.const._AD_BMCART_MIDIUM_IMAGE}></td>
			<td class="<{cycle values=" odd,even"}>">
			<img src="<{$xoops_url}>/uploads/m_<{$actionForm->get('image_filename')}>" />
		</tr>
		<tr>
			<td class="head"><{$smarty.const._AD_BMCART_ORIGINAL_IMAGE}></td>
			<td class="<{cycle values=" odd,even"}>">
			<img src="<{$xoops_url}>/uploads/<{$actionForm->get('image_filename')}>" />
		</tr>
		<tr>
			<td class="head"><{$smarty.const._AD_BMCART_IMAGE_FILENAME}></td>
			<td class="<{cycle values=" odd,even"}>">
			<{xoops_input type=text name=image_filename value=$actionForm->get('image_filename')}>
			<br />
			<input type="file" name="upload_filename" size="50">
			</td>
		</tr>
		<tr>
			<td class="head"><{$smarty.const._AD_BMCART_IMAGE_WEIGHT}></td>
			<td class="<{cycle values=" odd,even"}>">
			<{xoops_input type=text name=weight value=$actionForm->get('weight')}>
			</td>
		</tr>
		<tr>
			<td colspan="2" class="foot">
				<input class="formButton" type="submit" value="<{$smarty.const._SUBMIT}>"/>
				<input class="formButton" type="submit" value="<{$smarty.const._BACK}>" name="_form_control_cancel"/>
			</td>
		</tr>
	</table>
</form>
