<div class="adminnavi">
	<a href="./index.php"><{$smarty.const._MI_BMCART_NAME}></a>
	&raquo;&raquo; <a href="./index.php?action=ItemList"><{$smarty.const._AD_BMCART_ITEM_LIST}></a>
	&raquo;&raquo;
	<{if $actionForm->get('item_id') }>
	<span class="adminnaviTitle"><{$smarty.const._AD_BMCART_ITEM_EDIT}></span>
	<{else}>
	<span class="adminnaviTitle"><{$smarty.const._AD_BMCART_ITEM_NEW}></span>
	<{/if}>
</div>

<{if $actionForm->get('item_id') }>
<h3 class="admintitle"><{$smarty.const._AD_BMCART_ITEM_EDIT}> (<{$actionForm->get('item_name')}>)</h3>
<{else}>
<h3 class="admintitle"><{$smarty.const._AD_BMCART_ITEM_NEW}></h3>
<{/if}>

<{if $actionForm->hasError()}>
<div class="error">
	<ul>
		<{foreach item=message from=$actionForm->getErrorMessages()}>
		<li><{$message|xoops_escape}></li>
		<{/foreach}>
	</ul>
</div>
<{/if}>

<form action="?action=ItemEdit" method="post">
	<{xoops_token form=$actionForm}>
	<{xoops_input type=hidden name=item_id value=$actionForm->get('item_id')}>
	<table class="outer">
		<tr>
			<th colspan="2">
				<{if $actionForm->get('item_id') }>
				<{$smarty.const._AD_BMCART_ITEM_EDIT}> (<{$actionForm->get('item_name')}>)
				<{else}>
				<{$smarty.const._AD_BMCART_ITEM_NEW}>
				<{/if}>
			</th>
		</tr>
		<tr>
			<td class="head"><{$smarty.const._AD_BMCART_ITEM_CATEGORY}></td>
			<td class="<{cycle values=" odd,even"}>">
			<{html_options name=category_id options=$categoryOptions selected=$actionForm->get('category_id')}>
			</td>
		</tr>
		<tr>
			<td class="head"><{$smarty.const._AD_BMCART_ITEM_NAME}></td>
			<td class="<{cycle values=" odd,even"}>">
			<{xoops_input type=text name=item_name value=$actionForm->get('item_name')}>
			</td>
		</tr>
		<tr>
			<td class="head"><{$smarty.const._AD_BMCART_ITEM_DESC}></td>
			<td class="<{cycle values=" odd,even"}>">
			<{xoops_dhtmltarea name=item_desc value=$actionForm->get('item_desc')}>
			</td>
		</tr>
		<tr>
			<td class="head"><{$smarty.const._AD_BMCART_ITEM_PRICE}></td>
			<td class="<{cycle values=" odd,even"}>">
			<{xoops_input type=text name=price value=$actionForm->get('price')}>
			</td>
		</tr>
		<tr>
			<td class="head"><{$smarty.const._AD_BMCART_ITEM_SHIPPING_FEE}></td>
			<td class="<{cycle values=" odd,even"}>">
			<{xoops_input type=text name=shipping_fee value=$actionForm->get('shipping_fee')}>
			</td>
		</tr>
		<tr>
			<td class="head"><{$smarty.const._AD_BMCART_ITEM_STOCK}></td>
			<td class="<{cycle values=" odd,even"}>">
			<{xoops_input type=text name=stock_qty value=$actionForm->get('stock_qty')}>
			</td>
		</tr>
		<tr>
			<td colspan="2" class="foot">
				<input class="formButton" type="submit" value="<{$smarty.const._SUBMIT}>"/>
				<input class="formButton" type="submit" value="<{$smarty.const._BACK}>" name="_form_control_cancel"/>
			</td>
		</tr>
	</table>
</form>
