<!-- Created by Instant Zero (http://www.instant-zero.com) -->
<link href="<{$xoops_url}>/modules/myshop/include/myshop.css" rel="stylesheet" type="text/css"/>
<ul>
    <{foreach item=product from=$block.block_caddieProducts}>
    <li><a href="<{$product.product_url_rewrited}>"
           title="<{$product.product_href_title}>"><{$product.product_title}></a></li>
    <{/foreach}>
</ul>
<hr />

<table align="center">
    <tr>
    <td><{$smarty.const._MYSHOP_PURCHASE_PRICE}> : </td><td align="right"><{$block.block_commandAmountWithTax}></td>
    </tr>
    <tr>
        <td><{$smarty.const._MYSHOP_SHIPPING_PRICE}> : </td><td align="right"><{$block.block_shippingAmount}></td>
    </tr>
    <tr>
        <td><b><{$smarty.const._MYSHOP_TOTAL}> : </b></td><td align="right"><b><{$block.block_commandAmountTTC}></b></td>
    </tr>
</table>
<br/>
<div class="pagination-centered">
    <a class="btn btn-info" href="<{$xoops_url}>/modules/myshop/caddy.php">
    <i class="icon-white icon-shopping-cart"></i><{$smarty.const._MYSHOP_CART}>
    </a>
</div>