
img { behavior: url('include/iepngfix.htc') }

.myshop_productdescription {
	width: auto;
}

.myshop_lettrine {
	color: #D26502;
	border: 1px solid #D56A00;
	background-color: #FFF;
	padding: 3px;
	text-align: center;
	font-family: "Trebuchet MS";
	font-size: 160%;
	font-weight: bold;
	width: 10px;
}
.myshop_lettrine-L {
	color: #D26502;
}


.welcome-message, .category-list, .myshop_catdescription {
	background-color: #fafafb;
}

.myshop_productthumb {
	text-align: center;
	height: 122px;
	width: 106px;
	padding-top: 16px;
	background-repeat: no-repeat;
}

.myshop_productthumb-big {
	width: 25%;
}

#myshop-logo {
	text-align: center;
}

#myshop_publicite {
	border: 1px solid #E9E9E9;
	background-color: #F7F7F7;
	margin: 10px;
	padding: 5px;
}

.myshop_productssummary {
	padding: 0px 10px 10px  10px;
}

.myshop_productssummary_view-product h3, .myshop_description_view-product h3, .myshop_otherinf h3 {
	color: #000000;
	margin-top: 0px;
}

.myshop_producttitle_view-product h2 {
	color: #000000;
}


.myshop_productauthor_view-product, .myshop_producttranslators_view-product {
	font-weight: bold;
	font-size: 90%;
	padding-top: 10px;
}

.myshop_productauthor_view-product a, .myshop_producttranslators_view-product a {
	text-decoration: underline;
}

.myshop_productauthor_view-product a:hover, .myshop_producttranslators_view-product a:hover {
	text-decoration: none;
}




#myshop_publicite-category {
	border: 1px solid #E9E9E9;
	background-color: #F7F7F7;
	margin: 10px;
	padding: 5px;
}

.myshop_catdescription h2 {
	text-align: center;
}
.myshop_description {
	padding: 0px 15px 10px 10px;
}


.myshop_read-more {
	text-align: right;
	padding: 0px 15px 10px 10px;
}

.myshop_catdescription h2, .featured-blocks-titles h2  {
	margin-top: 0px;
}




/* end view product */

.myshop_productdescription {
	background-color: #FFFFFF;
	padding: 0px 10px 10px 10px;
	color: #575757;
}

.myshop_productdescription-contentTitles {
	color: #000;
	font-weight: bold;
}


.myshop_productprice_view-product {
	background-color: #FCF7DA;
	border: 1px solid #F9EEB5;
	padding: 5px;
	margin: 10px 0px 10px 0px;
}

.myshop_view-product_price {
	padding: 0px 0px 4px 0px;
}

.myshop_view-product_shipping-price {
	padding: 4px 0px 0px 0px;
}

.myshop_productdate {
	padding-bottom: 2px;
}

.myshop_productlangue {
	padding-top: 2px;
}

.myshop_otherinf {
	background-color: #EEF2F7;
	margin: 10px;
	padding: 5px;
	border: 1px solid #D1DBE7;
}

.myshop_authorbio {
	margin-top: 15px;
}

.myshop_authorphotos img {
	border: 1px solid #4F4F4F;
}

.myshop_alphabet {
	text-align: center;
}
.myshop_alphabet a {
	font-size: 120%;
	text-decoration: none;
}
.myshop_alphabet a:hover {
	text-decoration: underline;
}

.myshop_listauthors {
	width: 50%;
}

.myshop_listauthors a {
	font-weight: normal;
	text-decoration: none;
}

.myshop_listauthors a:hover {
	text-decoration: underline;
}

.myshop_cat-map li {
	height: 1.5em;
}

.myshop_cat-map li a{
	font-weight: normal;
	text-decoration: none;
	height: 1.5em;
}

.myshop_cat-map li a:hover{
	text-decoration: underline;
}

.myshop_discount-description {
	background-color: #FCF7DA;
	border: 1px solid #F9EEB5;
	padding: 5px;
	margin: 10px 0px 10px 0px;
	font-weight: normal;
	color: #4B4B4B;
	font-size: 11px;
}

.myshop_discounts h3 {
	color: #A40004;
}

.myshop_alert {
	text-align: center;
	color: #FF0000; 
	font-weight: bold; 
	border: solid 1px #000000; 
	padding: 10px;
}



.red-line {
	background-color: #bd420e;
	height: 2px;
	margin-top: 1px;
	padding: 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFF;
}