<{* WARNING *}>
<{* ********************************************************************************************** *}>
<{* ****** DO NOT USE ANYHTING ELSE THAN JPEG OR PNG PICTURES OR THE PDF WILL NOT BE CREATED ****** *}>
<{* ****** This is a template for a PDF so you can only use the following html tags  :       ****** *}>
<{* h1, h2, h3, h4, h5, h6, b, u, i, a, img, p, br, strong, em, font, blockquote, li, ul, ol, hr, td, th, tr, table, sup, sub, small *}>

<br /><br /><br />
<{* LIST PRODUCTS *}>
<{foreach item=product from=$products}>
	<h1><{$product.product_title|strip_tags}></h1>
	<br /><{$product.product_summary|strip_tags|wordwrap:120|nl2br}>
	<{if $details == 1 }>
		<br /><{$product.product_description|strip_tags|wordwrap:120|nl2br}>
	<{/if}>
	<br /><br /><a href="<{$product.product_url_rewrited}>" title="<{$smarty.const._MYSHOP_READ_MORE}> <{$product.product_href_title}>"><i><{if $product.product_joined_manufacturers != ''}><{$smarty.const._MYSHOP_BY|capitalize}> <{$product.product_joined_manufacturers|strip_tags|wordwrap:100|nl2br}><{/if}> <{if $mod_pref.use_price}>- <{if $product.product_stock > 0 }><{$smarty.const._MYSHOP_PRICE}> <{if $product.product_discount_price_ttc != 0}><{$product.product_discount_price_ttc}><{else}><{$product.product_price_ttc}><{/if}></i></a><{else}><{$mod_pref.nostock_msg}><{/if}><{/if}>
	<br /><br /><br /><br />
<{/foreach}>
</table>

