<{$breadcrumb}>
<br/>

<{* Display category or module advertisement *}>

<{if $category.cat_advertisement != ''}>
<div id="myshop_publicite-category"><{$category.cat_advertisement}></div>

<{elseif $mod_pref.advertisement != ''}>
<div id="myshop_publicite"><{$mod_pref.advertisement}></div>
<{/if}>

<br/>

<{if count($products) > 0 }>
<div class="featured-blocks-titles">
    <h2><{$smarty.const._MYSHOP_RECOMMENDED}></h2></div>
<table border="0" class="myshop_productindex">
    <{foreach item=product from=$products}>
    <tr>
        <td class="myshop_productthumb"><{if $product.product_thumb_url}><a href="<{$product.product_url_rewrited}>"
                                                                            title="<{$product.product_href_title}>"><img
                src="<{$product.product_thumb_full_url}>" alt="<{$product.product_href_title}>" border="0"/></a><{/if}>
        </td>
        <td class="myshop_productssummary">

            <table width="100%" cellspacing="0">
                <tr>
                    <td class="page-curl_01">
                        <div class="myshop_producttitle"><{$product.product_recommended_picture}>
                            <a href="<{$product.product_url_rewrited}>" title="<{$product.product_href_title}>">
                                <{$product.product_title}></a>
                        </div>
                        <div class="myshop_productauthor">
                            <{if $product.product_joined_manufacturers != ''}>
                            <{$smarty.const._MYSHOP_ADD_TO_CART}>
                            <{$smarty.const._MYSHOP_BY}>
                            <{$product.product_joined_manufacturers}>
                            <{/if}>
                        </div>
                        <{if $mod_pref.use_price}>
                        <div class="myshop_productprice">
                            <{if $product.product_stock > 0}>
                            <{$smarty.const._MYSHOP_PRICE}>
                            <{if $product.product_discount_price_ttc > 0}><s><{$product.product_price_ttc}></s>
                            <{$product.product_discount_price_ttc}><{else}><{$product.product_price_ttc}><{/if}>
                            <{$mod_pref.money_full}>
                            <a class="btn btn-primary btn-large"
                               href="<{$smarty.const.MYSHOP_URL}>caddy.php?op=addproduct&product_id=<{$product.product_id}>"
                               title="<{$smarty.const._MYSHOP_ADD_TO_CART}>">
                                <i class="icon-white icon-shopping-cart"></i>
                                <{$smarty.const._MYSHOP_ADD_TO_CART}>
                            </a>
                            <{else}>
                            <{$mod_pref.nostock_msg}>
                            <{/if}>
                        </div>
                        <{/if}>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <{/foreach}>
</table>
<{/if}>

<{if $pagenav}>
<br/>
<div align='center'><{$pagenav}></div>
<{/if}>
