<{$breadcrumb}>
<br />

<{* Display module advertisement *}>

	<{if $mod_pref.advertisement != ''}>
	<div id="myshop_publicite"><{$mod_pref.advertisement}></div>
	<{/if}>

<br />

<{if $search_results}>
	<h2><{$smarty.const._MYSHOP_SEARCHRESULTS}></h2>
	<br />
	<{foreach item=product from=$products}>
		<img src='<{$smarty.const.MYSHOP_IMAGES_URL}>product.png' alt='' border='0' />&nbsp;<b><a href="<{$product.link}>" title="<{$product.href_title}>"><{$product.title}></a></b><br />
	<{/foreach}>
	<{if $pagenav !=''}><div style="text-align: right; margin: 10px;"><{$pagenav}></div><{/if}>
	<br />
<{/if}>
<{$search_form}>