<{$breadcrumb}>

<div align='center'>
    <{if $mod_pref.advertisement != ''}>
    <div id="myshop_publicite"><{$mod_pref.advertisement}></div>
    <{/if}>

    <{if $manufacturer.manu_email != '' }>
    <h2><a href="mailto:<{$manufacturer.manu_email}>"><{$manufacturer.manu_name}>
        <{$manufacturer.manu_commercialname}></a></h2>
    <{else}>
    <h2><{$manufacturer.manu_name}> <{$manufacturer.manu_commercialname}></h2>
    <{/if}>

    <{if $manufacturer.manu_url != '' }>
    <div class="myshop_authorurl">
        <img src="<{$smarty.const.MYSHOP_IMAGES_URL}>url.png" alt="" width="16" height="16"/>
        <{$smarty.const._MYSHOP_SITEURL}> : <a href="<{$manufacturer.manu_url}>" title="" target="_blank"><{$manufacturer.manu_url}></a>
    </div>
    <{/if}>
</div>

<div class="myshop_authorbio">
    <table width="100%" cellspacing="0">
        <tr>
            <td class="page-curl_01">
                <h3><{$smarty.const._MYSHOP_MANUFACTURER_INF}></h3>
                <{$manufacturer.manu_bio}>
                <div class="myshop_authorphotos">
                    <{if $manufacturer.manu_photo1 != '' }><br/><img src="<{$manufacturer.manu_photo1_url}>" alt=""
                                                                     border="0"/><{/if}>
                    <{if $manufacturer.manu_photo2 != '' }><br/><img src="<{$manufacturer.manu_photo2_url}>" alt=""
                                                                     border="0"/><{/if}>
                    <{if $manufacturer.manu_photo3 != '' }><br/><img src="<{$manufacturer.manu_photo3_url}>" alt=""
                                                                     border="0"/><{/if}>
                    <{if $manufacturer.manu_photo4 != '' }><br/><img src="<{$manufacturer.manu_photo4_url}>" alt=""
                                                                     border="0"/><{/if}>
                    <{if $manufacturer.manu_photo5 != '' }><br/><img src="<{$manufacturer.manu_photo5_url}>" alt=""
                                                                     border="0"/><{/if}>
                </div>
            </td>
        </tr>
    </table>
</div>

<{if count($products) > 0}>
<div id="myshop_related">
    <h3><img src="<{$smarty.const.MYSHOP_IMAGES_URL}>box.png" alt="" border="0"/><{$smarty.const._MI_PRODUCTSBYTHISMANUFACTURER}>
    </h3>
    <table border='0' cellspacing='5' cellpadding='0' align='center' class="myshop_categorylist">
        <tr>
            <{foreach item=oneitem from=$products}>
            <td valign="top" align="center">
                <{if $oneitem.product_thumb_url}>
                <div class="myshop_productthumb">
                    <a class="btn btn-primary btn-large" href="<{$oneitem.product_url_rewrited}>"
                                                    title="<{$oneitem.product_href_title}>">
                        <img src="<{$oneitem.product_thumb_full_url}>" alt="<{$oneitem.product_href_title}>" border="0"/></a>
                </div>
                <{/if}>
                <br/><{$oneitem.product_recommended_picture}><b><{$oneitem.product_title}></b> <{if
                $mod_pref.use_price}>
                <div class="myshop_productprice"><{if $oneitem.product_stock > 0 }><{$smarty.const._MYSHOP_PRICE}> : <a
                        href="<{$smarty.const.MYSHOP_URL}>caddy.php?op=addproduct&product_id=<{$oneitem.product_id}>"
                        title="<{$smarty.const._MYSHOP_ADD_TO_CART}>"><{if $oneitem.product_discount_price_ttc !=
                    ''}><{$oneitem.product_discount_price_ttc}><{else}><{$oneitem.product_price_ttc}><{/if}> <img
                            src="<{$smarty.const.MYSHOP_IMAGES_URL}>cartadd.gif" alt="" border="0"/></a><{else}><{$mod_pref.nostock_msg}><{/if}>
                </div>
                <{/if}>
            </td>
            <{if $oneitem.count is div by 4}>
        </tr>
        <tr>
            <{/if}>
            <{/foreach}>
        </tr>
    </table>
    <{if $pagenav != ''}>
    <br/>

    <div align="left"><{$pagenav}></div>
    <br/>
    <{/if}>
</div>
<{/if}>