<div class="adminnavi">
	<a href="./index.php"><{$smarty.const._MI_BMCART_NAME}></a>
	&raquo;&raquo; <span class="adminnaviTitle"><a href="./index.php?action=ItemList"><{$smarty.const._AD_BMCART_IMAGE_LIST}></a></span>
</div>

<h3 class="admintitle"><{$smarty.const._AD_BMCART_IMAGE_LIST}></h3>
<div class="tips"><{$smarty.const._AD_BMCART_TIPS_IMAGE_EDIT}></div>

<ul class="toptab">
	<li class="add"><a href="index.php?action=ImageEdit<{if $item_id}>&amp;item_id=<{$item_id}><{/if}>">
		<{$smarty.const._AD_BMCART_IMAGE_NEW}>
	</a></li>
</ul>

<table class="outer">
	<tr>
		<th><{$smarty.const._AD_BMCART_IMAGE_ID}>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.IMAGE_SORT_KEY_IMAGE_CATEGORY}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.IMAGE_SORT_KEY_IMAGE_CATEGORY}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a></th>
		<th><{$smarty.const._AD_BMCART_ITEM_ID}>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.IMAGE_SORT_KEY_IMAGE_CATEGORY}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.IMAGE_SORT_KEY_IMAGE_CATEGORY}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a></th>
		<th><{$smarty.const._AD_BMCART_IMAGE_FILENAME}>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.IMAGE_SORT_KEY_NAME}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.IMAGE_SORT_KEY_NAME}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a></th>
		<th><{$smarty.const._AD_BMCART_CONTROL}></th>
	</tr>
	<{foreach item=item from=$objects}>
	<{assign var=catId value=$item->getShow('category_id')}>
	<tr class="<{cycle values='odd,even'}>">
		<td class="item_list_number">
			<{$item->getShow('image_id')}>
		</td>
		<td class="item_list_number"><{$item->getShow('item_id')}></td>
		<td class="item_list_string">
			<img src="<{$xoops_url}>/uploads/s_<{$item->getShow('image_filename')}>" />
			<a href="<{$xoops_url}>/uploads/m_<{$item->getShow('image_filename')}>">
			<{$item->getShow('image_filename')}>
			</a>
		</td>
		<td class="item_list_control">
			<a href="index.php?action=ImageEdit&amp;image_id=<{$item->getShow('image_id')}>">
				<img src="<{"icons/edit.png"|theme}>" alt="<{$smarty.const._EDIT}>" title="<{$smarty.const._EDIT}>" />
			</a>
			<{if $item->get('image_id') > $smarty.const.XOOPS_IMAGE_ANONYMOUS }>
			<a href="index.php?action=ImageDelete&amp;image_id=<{$item->getShow('image_id')}>">
				<img src="<{"icons/delete.png"|theme}>" alt="<{$smarty.const._DELETE}>" title="<{$smarty.const._DELETE}>" />
			</a>
			<{/if}>
		</td>
	</tr>
	<{/foreach}>
</table>

<div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>
