<div class="adminnavi">
	<a href="./index.php"><{$smarty.const._MI_BMCART_NAME}></a>
	&raquo;&raquo; <span class="adminnaviTitle"><a href="./index.php?action=ItemList"><{$smarty.const._AD_BMCART_ITEM_LIST}></a></span>
</div>

<h3 class="admintitle"><{$smarty.const._AD_BMCART_ITEM_LIST}></h3>
<div class="tips"><{$smarty.const._AD_BMCART_TIPS_ITEM_EDIT}></div>

<ul class="toptab">
	<li class="add"><a href="index.php?action=ItemEdit"><{$smarty.const._AD_BMCART_ITEM_NEW}></a></li>
</ul>

<div>
	<form action="./index.php" method="get">
		<input type="hidden" name="action" value="itemList" />
		<{$smarty.const._SEARCH}> :
		<input type="text" name="search" value="<{$filterForm->mKeyword}>" />
		<input class="formButton" type="submit" value="<{$smarty.const._SUBMIT}>" />
	</form>
</div>

<table class="outer">
	<tr>
		<th><{$smarty.const._AD_BMCART_UPDATE}>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.ITEM_SORT_KEY_UPDATE}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.ITEM_SORT_KEY_UPDATE}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
		</th>
		<th><{$smarty.const._AD_BMCART_ITEM_CATEGORY}>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.ITEM_SORT_KEY_CATEGORY}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.ITEM_SORT_KEY_CATEGORY}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
		</th>
		<th><{$smarty.const._AD_BMCART_ITEM_NAME}>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.ITEM_SORT_KEY_NAME}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.ITEM_SORT_KEY_NAME}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
		</th>
		<th><{$smarty.const._AD_BMCART_ITEM_PRICE}>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.ITEM_SORT_KEY_PRICE}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.ITEM_SORT_KEY_PRICE}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
		</th>
		<th><{$smarty.const._AD_BMCART_ITEM_SHIPPING_FEE}>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.ITEM_SORT_KEY_SHIPPING}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.ITEM_SORT_KEY_SHIPPING}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
		</th>
		<th><{$smarty.const._AD_BMCART_ITEM_STOCK}>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.ITEM_SORT_KEY_STOCK}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.ITEM_SORT_KEY_STOCK}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
		</th>
		<th><{$smarty.const._AD_BMCART_CONTROL}></th>
	</tr>
	<{foreach item=item from=$objects}>
	<{assign var=catId value=$item->getShow('category_id')}>
	<tr class="<{cycle values='odd,even'}>">
		<td class="item_list_date"><{$item->getShow('last_update')|date_format:"%G-%m-%d"}></td>
		<td class="item_list_title">(<{$catId}>)<{$categoryList[$catId]}></td>
		<td class="item_list_title">(<{$item->getShow('item_id')}>)<{$item->getShow('item_name')}></td>
		<td class="item_list_number">&yen;<{$item->getShow('price')|number_format}></td>
		<td class="item_list_number">&yen;<{$item->getShow('shipping_fee')|number_format}></td>
		<td class="item_list_number"><{$item->getShow('stock_qty')}></td>
		<td class="item_list_control">
			<a href="index.php?action=ItemEdit&amp;item_id=<{$item->getShow('item_id')}>">
				<img src="<{"icons/edit.png"|theme}>" alt="<{$smarty.const._EDIT}>" title="<{$smarty.const._EDIT}>" />
			</a>
			<{if $item->get('item_id') > $smarty.const.XOOPS_ITEM_ANONYMOUS }>
			<a href="index.php?action=ItemDelete&amp;item_id=<{$item->getShow('item_id')}>">
				<img src="<{"icons/delete.png"|theme}>" alt="<{$smarty.const._DELETE}>" title="<{$smarty.const._DELETE}>" />
			</a>
			<{/if}>
			<a href="index.php?action=imageList&amp;item_id=<{$item->getShow('item_id')}>">
				<img src="<{"icons/image_add.png"|theme}>" alt="<{$smarty.const._AD_BMCART_ADD_IMAGE}>" title="<{$smarty.const._AD_BMCART_ADD_IMAGE}>" />
			</a>
			<a href="../itemList/itemDetail/<{$item->getShow('item_id')}>">
				<img src="<{"icons/property.png"|theme}>" alt="<{$smarty.const._AD_BMCART_SHOW_ITEM}>" title="<{$smarty.const._AD_BMCART_SHOW_ITEM}>" />
			</a>
		</td>
	</tr>
	<{/foreach}>
</table>

<div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>
