<div class="adminnavi">
	<a href="./index.php"><{$smarty.const._MI_BMCART_NAME}></a>
	&raquo;&raquo; <span class="adminnaviTitle"><a href="./index.php?action=OrderList"><{$smarty.const._AD_BMCART_ORDER_LIST}></a></span>
</div>

<h3 class="admintitle"><{$smarty.const._AD_BMCART_ORDER_LIST}></h3>
<div class="tips"><{$smarty.const._AD_BMCART_TIPS_ORDER_EDIT}></div>

<table class="outer">
	<tr>
		<th><{$smarty.const._AD_BMCART_ORDERID}>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.ORDER_SORT_KEY_ORDERID}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.ORDER_SORT_KEY_ORDERID}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a></th>
		<th><{$smarty.const._AD_BMCART_UID}>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.ORDER_SORT_KEY_UID}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.ORDER_SORT_KEY_UID}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a></th>
		<th><{$smarty.const._AD_BMCART_ADDRESS}>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.ORDER_SORT_KEY_ZIPCODE}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.ORDER_SORT_KEY_ZIPCODE}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a></th>
		<th><{$smarty.const._AD_BMCART_PAYMENT_TYPE}>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.ORDER_SORT_KEY_AMOUNT}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.ORDER_SORT_KEY_AMOUNT}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a></th>
		<th><{$smarty.const._AD_BMCART_ORDER_DATE}>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.ORDER_SORT_KEY_ORDER_DATE}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.ORDER_SORT_KEY_ORDER_DATE}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
		</th>
		<th><{$smarty.const._AD_BMCART_PAID_DATE}>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.ORDER_SORT_KEY_PAID_DATE}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.ORDER_SORT_KEY_PAID_DATE}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
		</th>
		<th><{$smarty.const._AD_BMCART_SHIPPING_DATE}>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=<{$smarty.const.ORDER_SORT_KEY_SHIPPING_DATE}>"><img src="<{"icons/up.png"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
			<a href="<{$pageNavi->renderUrlForSort()}>&amp;sort=-<{$smarty.const.ORDER_SORT_KEY_SHIPPING_DATE}>"><img src="<{"icons/down.png"|theme}>" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a>
		</th>
		<th><{$smarty.const._AD_BMCART_CONTROL}></th>
	</tr>
	<{foreach item=order from=$objects}>
	<tr class="<{cycle values='odd,even'}>">
		<td class="order_list_title">
			<a href="index.php?action=orderItemsList&amp;order_id=<{$order->getShow('order_id')}>">
				<{$order->getShow('order_id')}>
			</a>
		</td>
		<td class="order_list_title">
			<a href="<{$xoops_url}>/modules/user/admin/index.php?action=UserView&amp;uid=<{$order->getShow('uid')}>">
				<{$order->getShow('uid')}>
			</a>
		</td>
		<td class="order_list_title">
			<{$order->getShow('zip_code')}><{$order->getShow('state')}><{$order->getShow('address')}><{$order->getShow('address2')}>
			<br />
			<{$order->getShow('phone')}>
			<br />
			<{$order->getShow('last_name')}><{$order->getShow('first_name')}>
		</td>
		<td class="order_list_title">
			<{if $order->getShow('payment_type')==1}>
				<{$smarty.const._AD_BMCART_PAYBY_WIRE}>
			<{elseif $order->getShow('payment_type')==2}>
				<{$smarty.const._AD_BMCART_PAYBY_CREDIT}>
				(ORDER:<{$order->getShow('card_order_id')}>)
			<{/if}>
			<br />
			<{$smarty.const._AD_BMCART_PAYMENT_SUB_TOTAL}>&yen;<{$order->getShow('sub_total')|number_format}>
			<br />
			<{$smarty.const._AD_BMCART_PAYMENT_TAX}>&yen;<{$order->getShow('tax')|number_format}>
			<br />
			<{$smarty.const._AD_BMCART_PAYMENT_SHIPPING_FEE}>&yen;<{$order->getShow('shipping_fee')|number_format}>
			<br />
			<{$smarty.const._AD_BMCART_PAYMENT_AMOUNT}>&yen;<{$order->getShow('amount')|number_format}>
		</td>
		<td class="order_list_title"><{$order->getShow('order_date')|date_format:"%Y-%m-%d %H:%M"}></td>
		<td class="order_list_title"><{$order->getShow('paid_date')|date_format:"%Y-%m-%d %H:%M"}></td>
		<td class="order_list_title">
			<{$order->getShow('shipping_date')|date_format:"%Y-%m-%d %H:%M"}>
			<br />
			<{$smarty.const._AD_BMCART_SHIPPING_CARRIER}> : <{$order->getShow('shipping_carrier')}>
			<br />
			<{$smarty.const._AD_BMCART_SHIPPING_NUMBER}> : <{$order->getShow('shipping_number')}>
		</td>
		<td class="order_list_control">
			<a href="index.php?action=OrderEdit&amp;order_id=<{$order->getShow('order_id')}>">
				<img src="<{"icons/edit.png"|theme}>" alt="<{$smarty.const._EDIT}>" title="<{$smarty.const._EDIT}>" />
			</a>
			<{if $order->getShow('payment_type')==2 && !$order->getShow('paid_date')}>
			<a href="index.php?action=transit&amp;order_id=<{$order->getShow('order_id')}>">
				<img src="<{"icons/permission.png"|theme}>" alt="<{$smarty.const._AD_BMCART_EXEC_TRANSIT}>" title="<{$smarty.const._AD_BMCART_EXEC_TRANSIT}>" />
			</a>
			<{/if}>
			<{if !$order->getShow('notify_date')}>
			<a href="index.php?action=SendMail&amp;order_id=<{$order->getShow('order_id')}>">
				<img src="<{"icons/send.png"|theme}>" alt="<{$smarty.const._AD_BMCART_SEND_MAIL}>" title="<{$smarty.const._AD_BMCART_EXEC_SEND_MAIL}>" />
			</a>
			<{/if}>
			<a href="index.php?action=orderItemsList&amp;order_id=<{$order->getShow('order_id')}>">
				<img src="<{"icons/property.png"|theme}>" alt="<{$smarty.const._AD_BMCART_SHOW_ITEM}>" title="<{$smarty.const._AD_BMCART_SHOW_ITEM}>" />
			</a>
		</td>
	</tr>
	<{/foreach}>
</table>

<div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>
