<div class="adminnavi">
	<a href="./index.php"><{$smarty.const._MI_BMCART_NAME}></a>
	&raquo;&raquo;
	<span class="adminnaviTitle">
		<a href="./index.php?action=OrderList">
			<{$smarty.const._AD_BMCART_SHIPPING_MAIL}>
		</a>
	</span>
</div>

<h3 class="admintitle"><{$smarty.const._AD_BMCART_SHIPPING_MAIL}></h3>
<div class="tips"><{$smarty.const._AD_BMCART_TIPS_SHIPPING}></div>

<form action="?action=SendMail" method="post">
	<{xoops_token form=$actionForm}>
	<{xoops_input type=hidden name=order_id value=$object->get('order_id')}>
	<table class="outer">
		<tr>
			<th colspan="2">
				<{$smarty.const._AD_BMCART_SHIPPING_MAIL}> (<{$object->get('order_id')}>)
			</th>
		</tr>
		<tr>
			<td class="head"><{$smarty.const._AD_BMCART_USER_NAME}></td>
			<td class="<{cycle values='odd,even'}>"><{$object->get('uid')}></td>
		</tr>
		<tr>
			<td class="head"><{$smarty.const._AD_BMCART_SHIPPING_TO_NAME}></td>
			<td class="<{cycle values='odd,even'}>">
			<{$object->get('last_name')}>&nbsp;<{$object->get('first_name')}>
			</td>
		</tr>
		<tr>
			<td class="head"><{$smarty.const._AD_BMCART_SHIPPING_TO_ADDRESS}></td>
			<td class="<{cycle values='odd,even'}>">
			<{$object->get('zip_code')}><br/>
			<{$object->get('state')}><br/>
			<{$object->get('address')}><br/>
			<{$object->get('address2')}>
			</td>
		</tr>
		<tr>
			<td class="head"><{$smarty.const._AD_BMCART_SHIPPING_DATE}></td>
			<td class="<{cycle values='odd,even'}>"><{$object->get('shipping_date')|date_format:"%Y-%m-%d %H:%M"}></td>
		</tr>
		<tr>
			<td class="head"><{$smarty.const._AD_BMCART_SHIPPING_CARRIER}></td>
			<td class="<{cycle values='odd,even'}>"><{$object->get('shipping_carrier')}></td>
		</tr>
		<tr>
			<td class="head"><{$smarty.const._AD_BMCART_SHIPPING_NUMBER}></td>
			<td class="<{cycle values='odd,even'}>"><{$object->get('shipping_number')}></td>
		</tr>
		<tr>
			<td class="head"><{$smarty.const._AD_BMCART_SHIPPING_MEMO}></td>
			<td class="<{cycle values='odd,even'}>"><{$object->get('shipping_memo')}></td>
		</tr>
		<tr>
			<td colspan="2" class="foot">
				<input class="formButton" type="submit" value="<{$smarty.const._AD_BMCART_SHIPPING_MAIL_DO}>"/>
				<input class="formButton" type="submit" value="<{$smarty.const._BACK}>" name="_form_control_cancel"/>
			</td>
		</tr>
	</table>
</form>
<div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>
